
main{
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}

h1{
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}